<div class="slider-list">
  <div class="slider-list__header">
    <h1>My Sliders</h1>

    <div class="slider-list__button">
      <% if current_user.can_add_slider? %>
        <%= link_to 'Add New Slider', new_dashboard_slider_path, class: 'button button--primary' %>
      <% else %>
        <%= link_to 'Add New Slider', edit_dashboard_subscription_path, class: 'button button--lock' %>

        <div class="tooltip">
          Upgrade to Premium plan to create more sliders
        </div>
      <% end %>
    </div>
  </div>

  <% @sliders.each do |slider| %>
    <div class="slider-list__slide">
      <div
        class="slider-list__slide-image"
        style="background-image: url('<%= slider.display_image_url %>')">
      </div>

      <%= link_to slider.title, edit_dashboard_slider_path(slider) %>
    </div>
  <% end %>

  <% if @restricted_sliders.any? %>
    <div class="slider-list__restricted">
      <div class="slider-list__restricted-title">
        <span>Access to the following sliders requires the Premium plan</span>
      </div>

      <% @restricted_sliders.each do |slider| %>
        <div class="slider-list__slide slider-list__slide--restricted">
          <div
            class="slider-list__slide-image"
            style="background-image: url('<%= slider.display_image_url %>')">
          </div>

          <%= link_to slider.title, edit_dashboard_slider_path(slider), class: 'slider-list__slide-link' %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
