<div class="slider-layout">
  <div class="slider-layout__header">
    <%= render 'nav', slider: @slider %>
  </div>

  <div id="root" class="slider-layout__body">
    <div class="slider-settings">
      <div class="section slider-settings__slides" x-data="{ visible: 'images' }">
        <div class="scrollable">
          <div class="scrollable__header">
            <nav>
              <button
                class="section__tab-link"
                :class="visible == 'images' ? 'active' : ''"
                @click="visible = 'images'"
              >
                Images
              </button>

              <button
                class="section__tab-link"
                :class="visible == 'settings' ? 'active' : ''"
                @click="visible = 'settings'"
              >
                Settings
              </button>
            </nav>
          </div>

          <div class="scrollable__body">
            <%= render 'settings', slider: @slider %>
            <%= render 'slides', slides: @slider.slides %>
          </div>
        </div>
      </div>

      <div class="section flex-child--full-width">
        <h3>Preview</h3>

        <%= render 'preview', slider: @slider %>
      </div>
    </div>
  </div>
</div>

<div class="loader" style="display: none;">
  Loading...
</div>

<script>
  $(document).on('change', '#file-upload', function(event) {
    $('.loader').show();

    const file = event.target.files[0];
    const formData = new FormData();
    formData.append('slide[slider_id]', '<%= @slider.id %>');
    formData.append('slide[weight]', 0);
    formData.append('slide[image]', file);

    $.ajax({
        url: '<%= dashboard_slide_create_path %>',
        data: formData,
        type: 'POST',
        contentType: false,
        processData: false,
        success: function() {
          $('.loader').hide();
        }
    });
  });
</script>
