<div class="slider-layout">
  <div class="slider-layout__header">
    <%= render 'nav', slider: @slider %>
  </div>

  <div class="slider-layout__body">
    <div class="section section--padded">
      <h1>Instructions</h1>
      <ol>
        <li>Copy the embed code displayed below</li>
        <li>Select a location on any webpage and paste the code.<br>The slider will appear at that exact location.</li>
      </ol>

      <hr>

      <h1>Embed Code</h1>
      <div class="embed-code">
        <div class="embed-code__code-copy flex-container">
          <span class="embed-code__link link">Click here to copy code</span>
          <div class="flash flash--inline" style="display: none;" data-image-url="<%= image_url('icon-check.svg') %>">Copied!</div>
        </div>

        <div class="code">
<pre>&lt;div data-slider-id="<%= @slider.short_code %>"&gt;&lt;/div&gt;
&lt;script type="text/javascript" src="<%= ENV['APP_HOST'] %>/sliders/<%= @slider.short_code %>.js"&gt;&lt;/script&gt;</pre>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  preloadFlashIcon();

  $('.embed-code__link').on('click', function() {
    var code = getCode();
    copyToClipboard(code);

    $('.flash--inline').show();
    setTimeout(function() { $('.flash--inline').hide(); }, 2000);
  });

  function copyToClipboard(value) {
    var $temp = $('<input>');
    $('body').append($temp);
    $temp.val(value).select();
    document.execCommand('copy');
    $temp.remove();
  }

  function getCode() {
    let code = `<div data-slider-id="<%= @slider.short_code %>"></div>` + "\n\n";
    code += `<script type="text/javascript" src="<%= ENV['APP_HOST'] %>/sliders/<%= @slider.short_code %>.js"></scr` + `ipt>`;
    return code;
  }

  function preloadFlashIcon() {
    // Preload the icon-check so it doesn't have
    // to take time loading when it appears
    var url = $('.flash--inline').data('image-url');
    var img = new Image();
    img.src = url;
  }
</script>
