<div class="section section--padded">
  <h1>Account</h1>

  <%# render 'dashboard/shared/account_nav' %>

  <%= form_for(current_user, url: dashboard_password_path) do |f| %>
    <div class="form-row">
      <%= f.label :password, class: 'label' %>
      <%= f.password_field :password, class: 'input--text' %>
    </div>

    <div class="form-row">
      <%= f.label :password_confirmation, class: 'label' %>
      <%= f.password_field :password_confirmation, class: 'input--text' %>
    </div>

    <div class="form-row">
      <%= f.submit 'Save', class: 'button button--primary' %>
    </div>
  <% end %>
</div>
