<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Title</th>
      <th>Requests</th>
      <th>URL</th>
      <th>Slides</th>
      <th>User</th>
    </tr>
  </thead>

  <tbody>
    <% @sliders.each do |slider| %>
      <tr>
        <td><%= l(slider.created_at, format: :short) %></td>
        <td><%= link_to slider.title, admin_slider_slides_path(slider_id: slider.id) %></td>
        <td><%= number_with_delimiter(slider.request_logs_count) %></td>
        <td>
          <% if slider.request_logs.any? && slider.request_logs.recent.first.referrer.present? %>
            <%= link_to slider.request_logs.order(created_at: :desc).first.referrer, slider.request_logs.order(created_at: :desc).first.referrer, target: '_blank' %>
          <% end %>
        </td>
        <td><%= slider.slides.count %></td>
        <td><%= slider.user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @sliders, theme: 'twitter-bootstrap-4' %>
