<h1>Sliders</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Title</th>
      <th>Slides</th>
      <th>User</th>
    </tr>
  </thead>

  <tbody>
    <% @sliders.each do |slider| %>
      <tr>
        <td><%= l(slider.created_at) %></td>
        <td><%= link_to slider.title, admin_slider_slides_path(slider_id: slider.id) %></td>
        <td><%= slider.slides.count %></td>
        <td><%= slider&.user&.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @sliders, theme: 'twitter-bootstrap-4' %>
