<h1>Sliders</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>
        <%= link_to admin_sliders_path(sort: :date, dir: sort_new_direction('date', @sort, @direction)) do %>
          Date <%= sort_arrow('date', @sort, @direction) %>
        <% end %>
      </th>
      <th>Slider</th>
      <th>Slides</th>
      <th>
        <%= link_to admin_sliders_path(sort: :requests, dir: sort_new_direction('requests', @sort, @direction)) do %>
          Requests <%= sort_arrow('requests', @sort, @direction) %>
        <% end %>
      </th>
      <th>Last Request</th>
      <th>User</th>
      <th>Trial Ends</th>
    </tr>
  </thead>

  <tbody>
    <% @sliders.each do |slider| %>
      <tr>
        <td><%= l(slider.created_at) %></td>
        <td>
          <%= link_to slider.short_code, admin_slider_path(slider) %>
        </td>
        <td><%= slider.slides.count %></td>
        <td><%= number_with_delimiter(slider.request_logs_count || 0) %></td>
        <td>
          <% if slider.request_logs.count > 0 %>
            <%= l(slider.request_logs.order(created_at: :desc).first.created_at, format: :short) %>
          <% end %>
        </td>
        <td>
          <% if slider.user.present? %>
            <%= slider.user.email %>
          <% end %>
        </td>
        <td>
          <% if slider.user&.trial_ends_at %>
            <%= l(slider.user.trial_ends_at, format: :short) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @sliders, theme: 'twitter-bootstrap-4' %>
