<h1>Slider: <%= @slider.short_code %></h1>
<hr>

<div class="mb-5">
  <p>Track logs: <%= @slider.track_logs.count %></p>

  <% if !@slider.track_logs.count.zero? %>
  <ul>
    <% @slider.track_logs.limit(20).order(created_at: :desc).each do |track_log| %>
      <li><%= l(track_log.created_at) %>: <%= link_to track_log.url.truncate(60), track_log.url, target: '_blank' %></li>
    <% end %>
  </ul>
  <% end %>
</div>

<% if @slides.empty? %>
  This slider has zero slides.
<% else %>
  <table class="table table-striped w-50">
    <tbody>
      <% @slides.each do |slide| %>
        <tr>
          <td>
            <%= image_tag(slide.image.url, class: 'slide__image') %>
          </td>
        </tr>
      <% end %>
    </thead>
  </table>

  <%= paginate @slides, theme: 'twitter-bootstrap-4' %>
<% end %>
