<h1>Users</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Email</th>
      <th>Status</th>
      <th>Paid On</th>
      <th>Trial Ends</th>
      <th>Sliders</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= l(user.created_at) %></td>
        <td><%= user.email %></td>
        <td><%= user.status %></td>
        <td>
          <% if user.stripe_purchased_at.present? %>
            <%= l(user.stripe_purchased_at) %>
          <% else %>
            --
          <% end %>
        </td>
        <td><%= l(user.trial_ends_at) %></td>
        <td>
          <% if user.sliders.any? %>
              <% user.sliders.each do |slider| %>
                <div><%= link_to(slider.short_code, admin_slider_path(slider)) %>: <%= pluralize(slider.slides.count, 'slide') %></div>
              <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @users, theme: 'twitter-bootstrap-4' %>
