<h1>Users</h1>

<p>
  Free: <strong><%= number_with_delimiter(@free_count) %></strong><br>
  Premium: <strong><%= number_with_delimiter(@premium_count) %></strong>
</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Email</th>
      <th>Plan</th>
      <th>Sliders</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= l(user.created_at) %></td>
        <td><%= user.email %></td>
        <td><%= user.subscription_type %></td>
        <td><%= user.sliders.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @users, theme: 'twitter-bootstrap-4' %>
