<h1>Users</h1>

<div class="mb-3" style="font-size: 14px;">
  <%= search_form_for(@q, url: admin_users_path) do |f| %>
    <div class="d-flex gap-3">
      <div class="mb-2">
        <%= f.label :email_cont, 'Email' %>
        <%= f.search_field :email_cont %>
      </div>

      <div class="mb-2">
        <%= f.label :sliders_short_code_cont, 'Slider code' %>
        <%= f.search_field :sliders_short_code_cont %>
      </div>

      <div class="mb-2">
        <%= f.label :status_eq, 'Status' %>
        <%= f.select :status_eq, {
          'Paid' => 'paid',
          'Trial' => 'trial',
          'Expired' => 'expired'
        }, { include_blank: '- All -' } %>
      </div>

      <%= f.submit %>
    </div>
  <% end %>
</div>

<table class="table table-striped" style="font-size: 14px;">
  <thead>
    <tr>
      <th>Date</th>
      <th>Email</th>
      <th>Status</th>
      <th>Paid On</th>
      <th>Trial Ends</th>
      <th>Reminder Sent</th>
      <th>Sliders</th>
      <th>Expired Outreach</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= l(user.created_at) %></td>
        <td><%= user.email %></td>
        <td><%= user.status %></td>
        <td>
          <% if user.stripe_purchased_at.present? %>
            <%= l(user.stripe_purchased_at) %>
          <% else %>
            --
          <% end %>
        </td>
        <td><%= l(user.trial_ends_at, format: :short) %></td>
        <td>
          <% if user.trial_reminder_sent_at.present? %>
            <%= l(user.trial_reminder_sent_at, format: :short) %>
          <% else %>
            --
          <% end %>
        </td>
        <td>
          <% if user.sliders.any? %>
              <% user.sliders.each do |slider| %>
                <div><%= link_to(slider.short_code, admin_slider_path(slider)) %>: <%= pluralize(slider.slides.count, 'slide') %>, <%= number_with_delimiter(slider.request_logs_count) %> requests</div>
              <% end %>
          <% end %>
        </td>
        <td>
          <% if user.expired_outreach_sent_at.present? %>
            <%= l(user.expired_outreach_sent_at) %>
          <% elsif user.expired? %>
            <%= link_to 'Send', send_expired_outreach_admin_user_path(user, q: params.permit![:q]), data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @users, theme: 'twitter-bootstrap-4' %>
