<script src="https://js.stripe.com/v3/"></script>

<div class="section section--padded">
  <h1>Account</h1>

  <%= render 'dashboard/shared/account_nav' %>

  <% if current_user.subscription_type == 'free' %>
    <%= render 'free' %>
  <% else %>
    <%= render 'premium' %>
  <% end %>
</div>

<script type="text/javascript">
  var stripe = Stripe('<%= ENV['STRIPE_PUBLIC_KEY'] %>');

  var createCheckoutSession = function(priceId) {
    return fetch("/api/checkout", {
      method: "POST",

      headers: {
        "Content-Type": "application/json"
      },

      body: JSON.stringify({
        priceId: priceId
      })
    }).then(function(result) {
      return result.json();
    });
  };

  $('#checkout').on('click', function(event) {
    var priceId = '<%= ENV['STRIPE_PRICE_ID'] %>';

    createCheckoutSession(priceId).then(function(data) {
      stripe.redirectToCheckout({
        sessionId: data.sessionId
      });
    });
  });
</script>
