<!DOCTYPE html>
<html class="h-full">
<head>
  <title>SliderUI</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= javascript_include_tag 'application' %>
  <%= favicon_link_tag 'logo.png' %>
  <%= csrf_meta_tags %>

  <script src="//unpkg.com/alpinejs" defer></script>
  <style>[x-cloak] { display: none !important; }</style>
</head>
<body class="h-full">
  <div class="min-h-full bg-gray-100">
    <%= render 'layouts/dashboard/header' %>

    <% if @checkout_url.present? %>
      <%= render 'dashboard/shared/upgrade',
          checkout_url: @checkout_url
      %>
    <% end %>

    <main>
      <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
        <%= yield %>
      </div>
    </main>

    <div id="toast"></div>

    <%= render 'layouts/analytics' %>
  </div>
</body>
</html>
