<!DOCTYPE html>
<html class="h-full">
<head>
  <title>SliderUI</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= javascript_include_tag 'application' %>
  <%= favicon_link_tag 'logo.png' %>
  <%= csrf_meta_tags %>

  <script src="//unpkg.com/alpinejs" defer></script>
  <style>[x-cloak] { display: none !important; }</style>
</head>
<body class="h-full">
  <div class="min-h-full bg-gray-100">
    <%= render 'layouts/dashboard/header' %>

    <main>
      <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
        <%= yield %>
      </div>
    </main>

    <div id="toast"></div>

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
      var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
      (function(){
      var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
      s1.async=true;
      s1.src='https://embed.tawk.to/6451404e31ebfa0fe7fb9673/1gvem6d2q';
      s1.charset='UTF-8';
      s1.setAttribute('crossorigin','*');
      s0.parentNode.insertBefore(s1,s0);
      })();
    </script>
    <!--End of Tawk.to Script-->

    <%= render 'layouts/analytics' %>
  </div>
</body>
</html>
